:root {
  --main-page-bg: #f8f9fa;
  --main-bg: rgb(10, 47, 79);
  --white: #ffffff;
  --black: #000000;
  --danger-color: #ff0000;
  --table-alternate-row: #e5f2ff;
}

body {
  background-color: var(--main-page-bg);
}

/* Sidebar */

#sidebar-wrapper {
  background-color: var(--main-bg);
  color: var(--white);
}

.sidebar-content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.2s ease;
}

.sidebar-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.sidebar-content {
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.list-group-item-sidebar {
  background-color: var(--main-bg);
  color: var(--white);
}

.list-group-item-sidebar.active,
.list-group-item-sidebar:hover {
  background-color: var(--white);
  color: var(--main-bg);
}

/* Bootstrap Classes */

/* Background */

.bg-darkblue {
  background-color: var(--main-bg);
}

/* Texts */

.text-warning {
  color: #d7a100 !important;
}

/* Buttons */

.btn-darkblue {
  --bs-btn-color: var(--white);
  --bs-btn-bg: var(--main-bg);
  --bs-btn-border-color: var(--main-bg);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: #09406b;
  --bs-btn-hover-border-color: #09406b;
  --bs-btn-focus-shadow-rgb: 10, 47, 79;
  --bs-btn-active-color: var(--white);
  --bs-btn-active-bg: #0c4e82;
  --bs-btn-active-border-color: #0c4e82;
}

.btn-outline-darkblue {
  --bs-btn-color: var(--main-bg);
  --bs-btn-border-color: var(--main-bg);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #09406b;
  --bs-btn-hover-border-color: #09406b;
  --bs-btn-focus-shadow-rgb: 10, 47, 79;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0c4e82;
  --bs-btn-active-border-color: #0c4e82;
  background-color: transparent;
  color: var(--main-bg);
  border: 1px solid var(--main-bg);
}

.btn-darkblue2 {
  --bs-btn-color: var(--white);
  --bs-btn-bg: #114067;
  --bs-btn-border-color: #114067;
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: #11527e;
  --bs-btn-hover-border-color: #11527e;
  --bs-btn-focus-shadow-rgb: 17, 64, 103;
  --bs-btn-active-color: var(--white);
  --bs-btn-active-bg: #15659c;
  --bs-btn-active-border-color: #15659c;
}

.btn-whatsapp {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #088F8F;
  --bs-btn-border-color: #088F8F;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #066b6b;
  --bs-btn-hover-border-color: #066b6b;
  --bs-btn-focus-shadow-rgb: 8, 143, 143;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #055858;
  --bs-btn-active-border-color: #055858;
}

/* Borders */

.border-lightgreen {
  border-color: rgb(0, 180, 39) !important;
}

/* Cards */

.gradient-card {
  background: linear-gradient(135deg, var(--main-bg), #13558D);
  color: var(--white);
}

.gradient-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.gradient-card2 {
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  border: 1px solid #dee2e6;
}

.gradient-card3 {
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
  border-radius: 1rem;
}

.analyticsCard,
.analyticsModal .modal-header,
.dailyStatsCard {
  background: linear-gradient(135deg, var(--main-bg), #13558D);
  color: var(--white);
}

.product-card {
  background: linear-gradient(135deg, #B3D4FC, #6FA8DC);
  color: var(--main-bg);
}

.product-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.analyticsCard .card-body::-webkit-scrollbar-thumb {
  background-color: rgba(10, 47, 79, 0.6);
  transition: background-color 0.2s ease;
}

.analyticsCard .card-body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(10, 47, 79, 0.6);
}

.analyticsCard .card-body {
  scrollbar-width: thin;
  scrollbar-color: rgba(10, 47, 79, 0.6) transparent;
}

/* Profile Button */

.profileButton ul {
  background-color: var(--main-page-bg);
}

.profileButton ul li a {
  background-color: var(--main-page-bg) !important;
}

.profileButton ul li a:hover {
  background-color: #d8ecff !important;
}

.profileButton ul li a.dropdown-item-signout:hover {
  color: var(--danger-color) !important;
}

.dropdown-item-signout {
  color: var(--danger-color) !important;
}

/* Modal */

.modal-content {
  background-color: var(--main-page-bg);
}

/* Table */

table thead tr th,
table tbody tr td {
  background-color: transparent !important;
}

.productListingTable tbody tr:nth-of-type(even) td,
#customerTable tbody tr:nth-of-type(even) td {
  background-color: var(--table-alternate-row) !important;
}

/* Form Control & Form Select */

.form-control:focus,
.form-select:focus {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  box-shadow: 0 0 0 0.2rem rgba(10, 47, 79, 0.35);
}

/* Highlighted Text */

.highlightedText {
  background-color: #005791;
  color: var(--white);
}

.highlightedTextDropdown {
  background-color: #b3c7ff;
  color: var(--black);
}

#finalTotalFixedBox {
  background-color: var(--main-bg);
  box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.2);
}