body {
  background-color: #f8f9fa;
}

#sidebar-wrapper {
  background-color: #0A2F4F;
  color: #ffffff;
}

.list-group-item-sidebar {
  background-color: #0A2F4F;
  color: #ffffff;
}

.list-group-item-sidebar.active,
.list-group-item-sidebar:hover {
  background-color: #ffffff;
  color: #0A2F4F;
}

/* Bootstrap Classes */

.bg-darkblue {
  background-color: #0A2F4F;
}

.btn-darkblue {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #0A2F4F;
  --bs-btn-border-color: #0A2F4F;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #09406b;
  --bs-btn-hover-border-color: #09406b;
  --bs-btn-focus-shadow-rgb: 10, 47, 79;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #0c4e82;
  --bs-btn-active-border-color: #0c4e82;
}

.btn-darkblue2 {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #114067;
  --bs-btn-border-color: #114067;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #11527e;
  --bs-btn-hover-border-color: #11527e;
  --bs-btn-focus-shadow-rgb: 17, 64, 103;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #15659c;
  --bs-btn-active-border-color: #15659c;
}

/* Cards */

.gradient-card {
  background: linear-gradient(135deg, #0A2F4F, #13558D);
}

.gradient-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.product-card {
  background: linear-gradient(135deg, #B3D4FC, #6FA8DC);
  color: #0A2F4F;
}

.product-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.profileButton ul {
  background-color: #f8f9fa;
}

.profileButton ul li a {
  background-color: #f8f9fa !important;
}

.profileButton ul li a:hover {
  background-color: #d8ecff !important;
}

.profileButton ul li a.dropdown-item-signout:hover {
  color: #ff0000 !important;
}

.dropdown-item-signout {
  color: #ff0000 !important;
}

.modal-content {
  background-color: #f8f9fa;
}

/* Table */
table thead tr th,
table tbody tr td {
  background-color: transparent !important;
}

/* Form Control & Form Select */
.form-control:focus,
.form-select:focus {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  box-shadow: 0 0 0 0.2rem rgba(10, 47, 79, 0.35);
}

.highlightedText {
  background-color: #005791;
  color: #ffffff;
}