@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

/* Widths */

.w-10 {
  width: 10%;
}

.w-40 {
  width: 40%;
}

/* Toggle Password Button */

#togglePassword {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Sidebar */

#sidebar-wrapper {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  overflow: hidden;
}

#sidebar-wrapper .sidebar-content {
  overflow-y: auto;
  flex-grow: 1;
}

/* Custom Scrollbar for Sidebar */

.sidebar-content::-webkit-scrollbar {
  width: 8px;
}

.sidebar-content::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-content::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

.sidebar-content {
  scrollbar-width: thin;
}

#sidebar-wrapper .list-group-item-sidebar {
  text-align: start;
  border: none;
  margin: 3px 10px;
  border-radius: 5px;
  text-wrap: nowrap;
}

#sidebar-wrapper .list-group-item-sidebar i {
  margin-right: 1rem;
}

#sidebar-wrapper.collapsed {
  width: 80px;
}

#sidebar-wrapper.collapsed .list-group-item-sidebar i {
  margin-right: 0;
}

#sidebar-wrapper.collapsed .link-text {
  display: none;
}

#sidebar-wrapper.collapsed .list-group-item-sidebar {
  text-align: center;
}

.list-group-item-sidebar {
  transition: all 0.1s ease-in-out;
}

/* Main Page Content */

#mainPageContent {
  margin-left: 250px;
  transition: margin-left 0.3s ease;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#sidebar-wrapper.collapsed~#mainPageContent {
  margin-left: 80px;
}

/* Profile Button */

.profileButton ul {
  padding: 1.5px 0 !important;
}

.profileButton ul li a {
  transition: all 0.1s ease-in-out;
}

/* Cards */

.gradient-card,
.product-card {
  border: none;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s;
}

.gradient-card:hover,
.product-card:hover {
  transform: translateY(-2px);
}

.gradient-card .card-title,
.gradient-card3 .card-title,
.product-card .card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}

.gradient-card .card-text,
.gradient-card3 .card-text,
.product-card .card-text {
  font-family: 'Montserrat', sans-serif;
}

.product-card-body-content p {
  font-weight: 600 !important;
}

.dashboardCardTitle {
  font-weight: 700;
}

.dashboardCardText {
  font-weight: 300;
}

.dailyStatsHeader h5 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}

.analyticsCard .card-header {
  font-family: 'Montserrat', sans-serif;
}

.analyticsCard .card-body::-webkit-scrollbar {
  width: 8px;
}

.analyticsCard .card-body::-webkit-scrollbar-track {
  background: transparent;
}

.analyticsCard .card-body::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

.analyticsCard .card-body {
  scrollbar-width: thin;
}

/* Rounded Table Corner */

.roundedTable {
  margin-bottom: 0 !important;
}

.roundedTable thead tr:first-child {
  border-top: 0;
}

.roundedTable tbody tr:last-child,
.roundedTable tfoot tr:last-child {
  border-bottom: 0;
}

.roundedTable thead tr:first-child th:first-child,
.roundedTable tbody tr td:first-child,
.roundedTable tfoot tr td:first-child,
.roundedTable tfoot tr:last-child td:first-child {
  border-left: 0;
}

.roundedTable thead tr:first-child th:last-child,
.roundedTable tbody tr td:last-child,
.roundedTable tfoot tr td:last-child,
.roundedTable tfoot tr:last-child td:last-child {
  border-right: 0;
}

/* Modal */

.modal-faded {
  filter: brightness(40%);
  pointer-events: none;
}

.modal-xxl {
  max-width: 95vw;
}

/* Form Control & Form Select */

.form-control:focus,
.form-select:focus {
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}

/* Highlighted Text */

.highlightedText {
  padding: 0 1px;
  border-radius: 2px;
}

.highlightedTextDropdown {
  padding: 0 1px;
  border-radius: 2px;
}

/* Autofill Dropdowns */

#productNameDropdown {
  position: absolute;
  z-index: 1050;
}

/* Page Headers */

.pageHeader {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

/* Notepad Editor */

#editor b,
#editor strong {
  font-weight: bold;
}

#editor i,
#editor em {
  font-style: italic;
}

#editor s,
#editor strike {
  text-decoration: line-through;
}

#editor code {
  background: #eee;
  font-family: monospace;
  padding: 1px 4px;
  border-radius: 4px;
}

#dailyStatsDate {
  font-size: 1rem;
}

#finalTotalFixedBox {
  position: fixed;
  bottom: 61px;
  right: 0;
  z-index: 1050;
  font-weight: bold;
  font-size: 14px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}